<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}My Website{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'mywebsite/images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'mywebsite/css/bootstrap.min.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <style>
        body {
            padding-bottom: 20px;
        }

        .content{
            margin-left:20px;
            margin-right:20px;
        }

        .navbar {
            margin-bottom: 20px;
        }

        #footer {
            clear: both;
            position: relative;
            z-index: 10;
            height: 3em;
            margin-top: -3em;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Restaurant Management</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03" >
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
          {% if user.is_authenticated %}
                <form class="form-inline mt-2 mt-md-0" action="{% url 'logout' %}">
                    <button class="btn" type="submit">Logout</button>
                </form>
          {% else %}
                <form class="form-inline mt-2 mt-md-0" action="{% url 'login' %}">
                    <button class="btn" type="submit">Login</button>
                </form>
          {% endif %}

      </div>
    </nav>

    <div id="wrapper" style="margin-left: 30px; margin-right: 30px;">
        <div id="content">
            {% block content %}
            <!--<p> Hello this text is from base.html file inside block content.</p>-->
            {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <div id="footer" class="page-footer font-small cyan darken-3 mt-4" style="background-color: #006972;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/" style="color: white;"> www.brillicaservices.com</a>
    </div>
    <!-- Copyright -->

  </div>
  <!-- Footer -->
</body>
</html>